
.frame{
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: center;
    margin-bottom: 10vh;
    
}

@media screen and (max-width: 480px) {
    .frame{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150vh;
    justify-content: center;
    margin-bottom: 10vh;
    
}
    
    }