.right {
  width: 40%;
  height: 80vh;
}
.right img {
  width: 90%;
  margin-top: 15vh;
  margin-left: 10%;
}

@media screen and (max-width: 480px) {
  .right {
    width: 90%;
    height: 80vh;
  }
  .right img {
    width: 100%;
    margin: 10%;
  }
}
